<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- This is the main page of the website. -->
<body>
  <img src="../assets/images/rodenttube banner.png" class="logo" style="height: 125px;" alt="logo">
  <img src="../assets/images/Rodenttube logo.png" alt="logo" width="100" height="100">
  <div style="background-color: #654321;">
  <p style="text-align: center; font-weight: bold; font-size: 30px;" id="title"></p>
  <p style="text-align: center; font-weight:  bold; font-size: 30px;" id="author"></p>
  </div>
<div>
</div>
<div id="song-box">
  <br>
  <video class="video" id="audioenvideo" controls="controls" autoplay>
<source src="" type="video">
Your browser does not support the video format.
</video>
  
  <div class="links">
      <button id="new-song">Volgende</button>
        <button id="pause">Play Audio</button>
        <button id="play">Play Video</button>
        <button id="audio">Terug naar Audio</button>
  </div>

  <button routerLink="/playvideo" class="nav-link" href="#">Play video</button>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
