h1{
    color: rgb(110, 164, 110);
    text-align: center;
font-size: auto;
}
html, body{
    background-image: url('../assets/images/fcknaagdierlogo.jpg');
    background-size:  cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
p{
    color: rgb(110, 164, 110);
    font-size: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    content-visibility: auto;
}
audio{
    display: block;
 margin-left: auto;
    margin-right: auto;
}
iframe{
    display: block;
 margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
      button{
        background-color: #654321;
        color: rgb(110, 164, 110);
        width: 100%;
        height: 100px;
        float: left;
        font-size: 50px;
      }
      footer{
        font-size: 50px;
        color: rgb(110, 164, 110);
        text-align: center;
      }
      @media only screen and (max-width: 600px) {
        .logo {
            width: 100%;
        }
    }
    @media only screen and (min-width: 601px) {
        .logo {
            width: 50%;
        }
    }
  