<h1 id="h1">All onze songteksten</h1>
<p>O Beverburcht</p>
<p id="text">O Beverburcht. O Beverburcht.
    Ik heb je muren ingekleurd
    Nu staat er een bever op.
    Met een houten zwaard en stok.
    O Beverburcht. O Beverburcht.
    heb je muren ingekleurd.
    3X.
    </p>
<h2>Dit is Rodenttube</h2>
<p id="text">Ik keek op Rodenttube
    Zag wat videos op Rodenttube.
    Het is apart.
    Geen monopoly maar van het hart.
    Dit is de reden.
    Geen goed kind platform is de reden.
    <br>
<br>
    Dit is Rodenttube.
    Dit is de muziek van de toekomst.
    Ik ben enthousiast.
    Ik doe dit uit mijn hart.
    
    Dit is Rodenttube.
    Dit is de muziek van de toekomst.
    Ik ben enthousiast.
    Ik doe dit uit mijn hart.
    <br>
<br>
    Dit is Rodenttube.
    Dit is de muziek van de toekomst.
    Ik ben enthousiast.
    Ik doe dit uit mijn hart.
    <br>
<br>
    Dit is Rodenttube.
    Dit is de muziek van de toekomst.
    Ik ben enthousiast.
    Ik doe dit uit mijn hart.
    <br>
    <br>
    Ik keek op Rodenttube.
    Zag wat videos op Rodenttube.
    Het is apart.
    Geen monopoly maar van het hart.
    Dit is de reden.
    Geen goed kind platform is de reden.
<br>
<br>
    Dit is Rodenttube.
    Dit is de muziek van de toekomst.
    Ik ben enthousiast.
    Ik doe dit uit mijn hart.
    3X.
<h1>Nibble Again</h1>
<p id="text">Nibble Nibble Again.
    Nibble Again in the forest.
    Nibble Nibble Again.
    Wood.
    2X
    <br>
    <br>
    Nibble. Nibble.
    <br>
    <br>
Nibble Nibble Again.
    Nibble Again in the forest.
    Nibble Nibble Again.
    Wood.
    2X
    <br>
    <br>
    Nibble Again.
    Nibble Again.
    <br>
    <br>
    Nibble Nibble Again.
    Nibble Again in the forest.
    Nibble Nibble Again.
    Wood.
    3x
    <BR>
    <BR>Nibble<br>
        Nibble Nibble Again.
    Nibble Again in the forest.
    Nibble Nibble Again.'
    Wood.
    <br>
    <br>
    <h2>Wedden</h2>
    <p id="text">
        We gingen wedden.
Wie het meest knaagt hoeft te bellen.
Naar die enge gast.
Hij wil hout kopen dat had ik niet verwacht.
Ik hoop dat ik win.
Dat red mijn leven misschien.
<br>
<br>
Ik hoop dat ik win.
Of is dat te veel gevraagd misschien.
Ik ga liever knagen.
Ben liever niet de klos.
Ik stuur een appje.
Kunnen we het niet doen misschien.
Mijn vriend stuurt een appje.
Tot siens mijn vriend.
<br>
<br>
Ik dacht een vriend te hebben.
Maar die heb ik nu niet meer.
Ik ga tekeer.
Mijn vrienden gaan telkens weer.
<br>
<br>
We gingen wedden.
Wie het meest knaagt hoeft te bellen.
Naar die enge gast.
Hij wil hout kopen dat had ik niet verwacht.
Gelukkig ben ik geleaved
Dat red mijn leven misschien.
<br>
<br>
Ik wil beter gaan leven.
Zag een bever een zwerver geld geven.
Ik vroeg waarom doe je dat.
Hij zei ik heb genoeg geld op zak.
<br>
<br>
Ik dacht een vriend te hebben.
Maar die heb ik nu niet meer.
Ik ga tekeer.
Mijn vrienden gaan telkens weer.
<br>
<br>
We gingen wedden.
Wie het meest knaagt hoeft te bellen.
Naar die enge gast.
Hij wil hout kopen dat had ik niet verwacht.
Gelukkig ben ik geleaved
Dat red mijn leven misschien.
<br>
<br>
We gingen wedden.
Wie het meest knaagt hoeft te bellen.
Naar die enge gast.
Hij wil hout kopen dat had ik niet verwacht.
Gelukkig ben ik geleaved
Dat red mijn leven misschien.
<br>
<br>
He changed 
my mind
<br>
<br>
We werden vrienden voor altijd
We helpen anderen dat is een feit.
We willen altijd samen zijn.
Samen knagen en helpen is fijn.
<br>
<br>
Dan hebben andere minder pijn.
Dat is waarom we samen zijn.
Anderen helpen is fijn.
Dan doen we wat voor de maatschappij.
<br>
<br>
Dan hebben andere minder pijn.
Dat is waarom we samen zijn.
Anderen helpen is fijn.
Dan doen we wat voor de maatschappij.
<br>
<br>
Dan hebben andere minder pijn.
Dat is waarom we samen zijn.
Anderen helpen is fijn.
Dan doen we wat voor de maatschappij.
<br>
<br>
<h1>Knagen</h1>
<p id="text">
    Knagen knagen, knagen aan een boom.
Zwemmen zwemmen doen we zo.
Bouwen bouwen, bouwen aan een dam.
Dat is wat ik kan.
<br>
<br>
Ik ben zo knap en sterk.
Ik bouw een dam tijdens mijn werk.
Daarna koop ik hout.
Hout knagen is goud.
<br>
<br>
Knagen knagen, knagen aan een boom.
Zwemmen zwemmen doen we zo.
Bouwen bouwen, bouwen aan een dam.
Dat is wat ik kan.
<br>
<br>
In de nacht ben ik in het bos.
Ben deze keer niet de klos.
De wachter staat er niet.
Dus ik knaag en geniet.
<br>
<br>
Knagen knagen, knagen aan een boom.
Zwemmen zwemmen doen we zo.
Bouwen bouwen, bouwen aan een dam.
Dat is wat ik kan.
<h2>Kerstbever</h2>
<p id="text">
    Hij rijdt door de sneeuw.
Met beukennoten zoveel.
Hij heeft ook cadeaus.
Hij is nooit boos.
Rijden op een houten slee.
Naar iedereen.
<br>
<br>
Kerstbever
Kerstbever
Kerstbever jay.
Hij brengt cadeautjes op een arreslee.
Kerstbever
Kerstbever
Kerstbever jay.
Hij brengt cadeautjes op een arreslee.
<br>
<br>
1 dag gelee.
Toen zat het hem niet mee.
De Action was dicht.
Geen cadeau in zicht.
Gelukkig was er een Aldi.
Dus kocht hij het bij Aldi.
Toen kon hij weer weg.
Hij heeft het gered.
<br>
<br>
Kerstbever
Kerstbever
Kerstbever jay.
Hij brengt cadeautjes op een arreslee.
Kerstbever
Kerstbever
Kerstbever jay.
Hij brengt cadeautjes op een arreslee.
<br>
<br>
1 dag gelee.
Toen zat het hem niet mee.
De Action was dicht.
Geen cadeau in zicht.
Gelukkig was er een Aldi.
Dus kocht hij het bij Aldi.
Toen kon hij weer weg.
Hij heeft het gered.
<br>
<br>
Kerstbever
Kerstbever
Kerstbever jay.
Hij brengt cadeautjes op een arreslee.
Kerstbever
Kerstbever
Kerstbever jay.
Hij brengt cadeautjes op een arreslee.
<h2>Wood</h2>
<p>
Wood
Wood
Wood
<br>
<br>
Nibble wood.
nibble Wood
<br>
<br>
Wood
I Nibble wood.
I Hope you understood.
<br>
Wood.
<br>
<br>
I Nibble wood.
I Hope you understood.
<br>
Wood.
<br>
<br>
I Nibble wood.
I Hope you understood.
<br>
<br>
Wood.
<br>
I Nibble wood.
I Hope you understood.
<br>
<br>
Wood.
<br>
<br>
<h2>We gaan naar een bos</h2>
<p id="text">
    Ik ben aangekomen in het bos.
Ik knaagde opnieuw en opnieuw.
Ik ben aan het huilen want alles is uit het bos.
Bert
We verhuizen opnieuw.
Zend ons een prayer.
We knagen in een bos.
<br>
<br>
Ik haat dit maar nu heb ik hoop.
We gaan naar een bos zo groot.
Nu zeg ik Bert ik heb hoop en dat bos is zo groot.
Groot.
Zo groot.
Groot.
<br>
<br>
We komen niet meer terug.
we slaan op de vlucht.
En ik kan eindelijk weer hout knagen.
Ik wens ons een fijne tijd.
Ik wens ons een fijne tijd.
<br>
<br>
Ik haat dit maar nu heb ik hoop.
We gaan naar een bos zo groot.
Nu zeg ik Bert ik heb hoop en dat bos is. groot.
Groot.
Zo groot.
Groot.
<br>
<br>
Nu zijn we in ons bos.
Daar knagen we erop los.
Ik voelde me slecht.
Maar dit is perfect.
<br>
<br>
Ik haatte het maar nu heb ik hoop.
We zijn in een bos zo groot.
Nu zeg ik Bert ik heb hoop en dat bos is. groot.
Groot.
Zo groot.
Groot.
<h2>Eet sla</h2>
<p id="text">
    Ik voel me slecht vandaag.
Heb teveel hout geknaagd.
Ik bel de dokter maar.
Kreeg een dieet das waar.
Eet sla, eet sla, eet sla.
<br>
<br>
Ik voel me slecht vandaag.
Heb teveel hout geknaagd.
Ik bel de dokter maar.
Kreeg een dieet das waar.
<br>
<br>
Ik ging naar de markt.
Kocht sla op de markt.
Eet sla, eet sla, eet sla.
<br>
<br>
Ik hou van sla.
Knaag altijd erg veel sla.
Ik ben op mijn dieet gefocust.
Ik heb sla hocus spokus.
<br>
<br>
Ik hou van sla.
Knaag altijd erg veel sla.
Ik ben op mijn dieet gefocust.
Ik heb sla hocus spokus.
<br>
<br>
Ik hou van sla.
Knaag altijd erg veel sla.
Ik ben op mijn dieet gefocust.
Ik heb sla hocus spokus.
    </p>
    <a href="../app.component.html">Terug naar de hoofdpagina</a>


